{% extends '/base.html' %}

{% block body %}
  <div class="container">
    <fieldset>
      <label for="room-name">Room Name</label>
      <input id="room-name" type="text" placeholder="Office 3rd Floor">

      <p><button class="btn btn-primary create">Create</button></p>
    </fieldset>
  </div>
{% endblock %}

{% block js_body_page %}
  <script>

  function sluger(Text) {
    return Text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'');
  }

  $(function() {
    var $roomInput = $('#room-name'),
      room = {};

    $('.create').click(function() {
      var name= $roomInput.val();
      $.ajax({
        url : '/ajax/saveRoom',
        data : {
          obj : JSON.stringify(_.extend(room, {
            name : name,
            slug : sluger(name)
          }))
        }
      }).done(function(result) {
        if (result.value) {
          room = result.value;
        }
        console.log("Room::", room);
        window.location.href = '/room/'+room.slug;
      });

    });

  });

  </script>
{% endblock %}
