{% extends '/base.html' %}

{% block body %}
  <div class="container">
    <p><a href="/create">Create a Room</a></p>
    <hr>
    <h1>Become a Room</h1>
    <ul id="rooms-list">
    </ul>
  </div>
{% endblock %}

{% block title %}Rooms - Walk Up{% endblock %}

{% block js_body_page %}
  <script>
  var rooms = null,
    $rooms = $('#rooms-list');

  $.ajax({
    url : '/ajax/getAllRooms'
  }).done(function(result) {
    if (result.value) {
      rooms = result.value;
      rooms.forEach(function(room) {
        console.log(room)
        $rooms.append($('<li><a href="/room/'+room.slug+'">'+room.name+'</a></li>'))
      });
    }
    console.log("Rooms::", result);
  });

  </script>
{% endblock %}
