{% extends '/base.html' %}

{% block body %}
  <div class="container">
    <p><a href="/create">Create a Room</a></p>
    <hr>
    <h1>Become a Room</h1>
    <ul>
      <li><a href="/room/Some-Room">Some Room</a></li>
      <li><a href="/room/Some-Other-Room">Some Other Room</a></li>
    </ul>
  </div>
{% endblock %}


{% block js_body_page %}
  <script>
  var song = null;

  $.ajax({
    url : '/ajax/getSongs'
  }).done(function(result) {
    if (result.value) {
      song = result.value[0];
    }
    console.log(result);
  });

  $('#submit').click(function() {

    var songToUpdate = {
      "name" : "josh's song"
    };

    if (song) songToUpdate.id = song.objectId;

    $.ajax({
      url : '/ajax/saveSong',
      data : {
        obj : JSON.stringify(songToUpdate)
      }
    });
  });
  </script>
{% endblock %}
