{% extends '/base.html' %}

{% block body %}
  <div class="container">
    <fieldset>
      <label for="song-name">Artist - Song Name</label>
      <input id="song-name" type="text" placeholder="Rick Astley - Never Gonna Give You Up" value="{{ song.title }}">

      <label for="start-time">Start Time (in Seconds)</label>
      <input id="start-time" type="text" placeholder="32" value="{{ song.starttime }}">

      <label for="room">Room</label>
      <select id="room"></select>
      </select>

      <label for="submit">Walk Up!</label>
      <button id="submit" class="btn btn-primary walkup" disabled>Walk Up</button>
    </fieldset>
  </div>
{% endblock %}


{% block js_body_page %}

  <script src="/socket.io/socket.io.js"></script>
  <script>
    walkup.user = {{ user|json|safe }};
    walkup.song = {{ song|json|safe }};
    walkup.rooms = {{ rooms|json|safe }};
  </script>
  <script src="/js/desktop/walkup.js"></script>

{% endblock %}

