<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>{% block title %}{{ title }} - Walk Up{% endblock %}</title>

{% block head %}{% endblock %}

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">

{% block css_head_base %}
  <link rel="stylesheet" href="/css/desktop/base.css">
{% endblock %}
{% block css_head_theme %}{% endblock %}
{% block css_head_group %}{% endblock %}
{% block css_head_page %}{% endblock %}

{% block js_head_base %}{% endblock %}
{% block js_head_theme %}{% endblock %}
{% block js_head_group %}{% endblock %}
{% block js_head_page %}{% endblock %}
</head>

<body>
{% block navbar %}
  <div class="walkup-nav">
    <a class="back" href="/"></a>
    Walk Up
  </div>
{% endblock %}

{% block body %}{% endblock %}

{% block js_body_base %}
  <script src="/js/desktop/base.js"></script>
{% endblock %}
{% block js_body_theme %}{% endblock %}
{% block js_body_group %}{% endblock %}
{% block js_body_page %}{% endblock %}
</body>

</html>
